<div class="container">
  <span class="row">

    <div class="col-sm-4 img-wrapper">

      <img src="./assets/img/about/profile.png" class="center-block">

    </div>

<article class="col-sm-8">
<h1>G'day - I'm Justin!</h1>

<p>I'm a designer with experience and passion within games and UX, based in Brisbane, Australia.
</p>

<p>Professionally, I've worked as a game designer at Halfbrick Studios, and as a developer, analyst, UX designer and Scrum Master at the Australian Taxation Office.
  I've learnt from working in these different problem areas that good design is good design, and it all stems from understanding and empathising with your user!
</p>

<p>Within UX design, I've worked in web interface design, social-mobile design, and physical computing. In games design, I've got experience with
  not only core game design, but systems, economy, meta and monetisation - I've also been exposed to the fast-paced mobile game development industry as a result.
  I also have a hobbyist's experience in film, storytelling and video editing, which I've been able to bring into my work.
  Human-computer interaction has always fascinated me - I love to learn about how so much we take for granted in software is manipulated
  by seemingly minor changes in hardware, user interface, visuals or architecture.
  I have most recently been fascinated with 3D level design from both a user experience and game development standpoint,
  and how the manipulation of composition, colour and lighting can be used to convey tone, theme, gameplay or story.</p>

<p>
  As I've worked in such a variety of problem areas, I believe I have the experience and adaptability to bring value to any organisation.
  I devote much of my spare time outside of work to learning and development - at the moment, I'm building lots of little projects to broaden and deepen my experience and skills in games and UX.
</p>

<p>
  I also dabble in a variety of hobbies outside of game development - I love to paint (mostly surreal landscapes),
  listen to sad indie folk music, and have played classical piano from the age of 6. I adore films (particularly giving them controversial ratings on Letterboxd),
  and have always jumped at the chance (and often overcompensated) to practice and improve my film editing skills whenever possible.
</p>

<span id="button-links">
<a routerLink="/projects" class="btn btn-dark">Projects</a>
<a routerLink="/projects" class="btn btn-dark">Contact</a>
</span>
</article>
</span>
</div>
