<div class="container">
  <span class="row">

    <div class="col-sm-4 img-wrapper">

      <img src="./assets/img/about/profile.png" class="center-block">

    </div>

<article class="col-sm-8">
<h1>G'day - I'm Justin!</h1>

<p>I'm a game and UX designer based in Brisbane, Australia. Welcome to my portfolio!
</p>

<p>Professionally, I've worked as a game designer on both PC and mobile games, and have an additional
  background as a UX designer, QA analyst and Scrum master.
  I've learnt from working in these different problem areas that good design is good design,
  and it all stems from understanding and empathising with your user!
</p>

<p>
  I'm not crunching numbers and data to tackle large, complex design problems,
  I can be found learning instruments, cooking, writing Letterboxd reviews or painting.
  And playing video games, of course.
</p>

<span id="button-links">
<a routerLink="/projects" class="btn btn-dark">Projects</a>
<a routerLink="/projects" class="btn btn-dark">Contact</a>
</span>
</article>
</span>
</div>
