<div class="container">
  <span class="row">

    <div class="col-sm-4 img-wrapper">
      <img src="./assets/img/about/profile.png" class="center-block">
    </div>

<article class="col-sm-8">
<h1>G'day - I'm Justin!</h1>

<p>I'm a recent Bachelor of Information Technology (User Experience Design)
   graduate from the University of Queensland, Australia.
</p>

<p>Right now I work at the Australian Taxation Office as a developer and analyst,
   while serving as both a UX champion and intermittent Scrum Master.
  This has given me first-hand experience of how development is
  conducted in a large, professional organisation, as well as valuable teamwork and leadership skills.</p>

<p>I've also worked in several areas inside and around user experience design, such as physical computing
  and social/mobile computing, as well as other areas game design and development, technical art, film editing and 3D modelling.
  Human-computer interaction has always fascinated me - I love to learn about how so much we take for granted in software is manipulated
  by seemingly minor changes in hardware, user interface, visuals or architecture.
  I have most recently been fascinated with 3D level design from both a user experience and game development standpoint,
  and how the manipulation of composition, colour and lighting can be used to convey tone, theme, gameplay or story.</p>

<p>
  As I've worked in such a variety of problem areas, I believe I have the experience and adaptability to bring value to any organisation.
  I devote much of my spare time outside of work to learning and development, whether that be learning Angular and UI programming,
  working on my roleplaying game <i>At the Edge of the West</i>, or working through my large backlog of GDC talks.
</p>


<span id="button-links">
<a routerLink="/projects" class="btn btn-dark">Projects</a>
<a routerLink="/projects" class="btn btn-dark">Contact</a>
</span>
</article>
</span>
</div>
