<!--Overlay-->
<div id="overlay" *ngIf="shouldShowModal" class="container-fluid">
  <article class="row">
    <div
      markdown
      [src]="currentlySelected.postLocation"
      id="markdown-container"
      class="col-md-8"
    >
      Loading Content...
    </div>
  </article>
  <span class="row">
      <span class="button-wrapper col-md-8">
        <button (click)="deselectContent()" class="btn btn-light">
          Close Content
        </button>
        <a (click)="getNextContentLocation()"
          ><button class="btn btn-light" id="btn-next">Next</button></a
        >
      </span>
    </span>


</div>

<div class="container-wrapper">
  <!--Tile Template-->
  <div class = "row chip-filter-holder">
    <span>Filter content: </span>
    <app-chip-filter (chipClicked)= checkFiltersUsed()>
      </app-chip-filter>
  </div>
  <div class="container">
    <div class="row">
      <a
        *ngFor="let content of contentsAll"
        (click)="selectContent(content)"
        class="col-md-4 tile"
      >
        <div class="tile-media-wrapper">
          <img
            [src]="content.img"
            class="thumbnail"
            [attr.alt]="content.title + ' thumbnail'"
          />
          <caption class="filter-wrapper">
            <h4 class="content-title">{{ content.title }}</h4>
            <span
              class="filters"
              *ngFor="let filter of returnCorrespondingFilters(content)"
            >
              <div class="chip">{{ filter.name }}</div>
            </span>
          </caption>
        </div>
      </a>
    </div>
  </div>
</div>
