#overlay{
  width: 100%;
  height: 100%;
  background-color: green;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

.thumbnail{
  max-height: 100%;
  max-width: 100%;
}

.tile{
  background-color: red;
  display: inline-block;
  position: relative;

}
