#overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  transition: display 0.2s;
  background-color: var(--colour-black-08);
  padding-top: 80px;
}

#overlay #markdown-container{
  display: block;
  margin: auto;
  padding: 40px 30px;
  min-height: 50vh;
  max-height: 70vh;
  background-color: var(--colour-white);
  overflow-y: auto;
  filter: blur(15);
}

#overlay * {
  color: var(--colour-black);
}

#overlay .button-wrapper .btn{
  color: var(--colour-black);
  margin: 0px 5px;

}

#overlay .button-wrapper{
  display: block;
  margin: auto;
  margin-bottom: 150px;
  padding: 15px;
  background-color: var(--colour-black);
}

.container-wrapper{
  background-color: var(--colour-white);
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

.tile {
  display: inline-block;
  position: relative;
  min-height: 150px;
  height: 250px;
  max-height: 30vh;
  padding: 15px;
  box-sizing: border-box;
  transition: padding 0.1s;
  cursor: pointer;
}

.tile:hover{
  padding: 13px;
}

.tile-media-wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border: 1px solid black;
}

.tile-media-wrapper:hover{
  box-shadow: 0px 1px 2px var(--colour-black-05);
  transition: box-shadow 0.5s;
}

.thumbnail{
  min-height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  transition: filter 1s;
}

.thumbnail:hover{
  filter: brightness(0.8);
}

.filter-wrapper{
  position: absolute;
  bottom: 0px;
  padding: 2px 15px;
  background-color: var(--colour-black-05);
  color: var(--colour-white);
  width: 100%;
  box-sizing: border-box;
}

.chip {
  background-color: var(--colour-main);
  border-radius: 16px;
  display: inline-block;
  padding: 0px 15px;
  margin: 1px 2px;
  border: 1px solid var(--colour-black-05);
  font-size: small;
  max-height: 2%;
}

#btn-next {
  background-color: var(--colour-accent);
}

