.chip {
  background-color: var(--colour-main);
  border-radius: 16px;
  display: inline-block;
  padding: 0px 15px;
  margin: 1px 2px;
  border: 1px solid var(--colour-black-05);
  font-size: small;
  width: fit-content;
  cursor: pointer;
}

.chip span{
  color: var(--colour-white);
}

.chip:hover{
  background-color: #c25527;
}

.chip:active{
  background-color: var(--colour-accent-08);
  border: 2px solid var(--colour-black-05);
}

.inactive{
  background-color: #8c8c8c;
}
