<div class="container">
  <h1>Want to get in touch?</h1>
  <br>
    <h3 class="">Justin Dong</h3>
    <p class="">Based in Brisbane, Australia</p>
    <p class="">UX designer | Game designer </p>

    <ul>
    <li>
      <a
        href="https://www.linkedin.com/in/justin-d-453831158"
        class="col-md-3 col-md-6 col-lg-3"
        target="_blank"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/LI-In-Bug.png" />
        </div>
        <span class="link-text text-center"><b>LinkedIn</b></span></a
      >
      </li>
    <li>
      <a
        href="mailto:justinxunheng@gmail.com"
        class="col-md-3  col-md-6 col-lg-3"
        target="_blank"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/email.png" />
        </div>
        <span class="link-text text-center"><b>Email</b></span></a
      >
    </li>
      <li>
      <a
        href="https://www.youtube.com/channel/UCufJ7p2ZgBho586AwuiCBpQ"
        target="_blank"
        class="col-md-3  col-md-6 col-lg-3"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/yt_icon_rgb.png" />
        </div>
        <span class="link-text text-center"><b>Youtube</b></span></a
      >
      </li>
      <!-- <li>
      <a href="./assets/resume_web.pdf" class="col-md-3  col-md-6 col-lg-3" target="_blank"
        ><div class="img-wrapper"><img src="./assets/img/icon/pdf.png" /></div>
        <span class="link-text text-center"><b>Resume</b></span></a
      >
      </li> -->
      </ul>
</div>
