<div class="container">
  <h1>Want to get in touch?</h1>
  <div class="business-card">
    <h2 class="card-text">CONTACT DETAILS</h2>
    <h3 class="card-text">Justin Dong</h3>
    <p class="card-text">Based in Brisbane, Australia</p>

    <div class="row center">
      <a
        href="https://www.linkedin.com/in/justin-d-453831158"
        class="col-md-3 col-md-6 col-lg-3"
        target="_blank"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/LI-In-Bug.png" />
        </div>
        <span class="link-text text-center">LinkedIn</span></a
      >
      <a
        href="mailto:justinxunheng@gmail.com"
        class="col-md-3  col-md-6 col-lg-3"
        target="_blank"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/email.png" />
        </div>
        <span class="link-text text-center">Email</span></a
      >
      <a
        href="https://www.youtube.com/channel/UCufJ7p2ZgBho586AwuiCBpQ"
        target="_blank"
        class="col-md-3  col-md-6 col-lg-3"
        ><div class="img-wrapper">
          <img src="./assets/img/icon/yt_icon_rgb.png" />
        </div>
        <span class="link-text text-center">Youtube</span></a
      >

      <a href="./assets/resume_web.pdf" class="col-md-3  col-md-6 col-lg-3" target="_blank"
        ><div class="img-wrapper"><img src="./assets/img/icon/pdf.png" /></div>
        <span class="link-text text-center">Resume</span></a
      >
    </div>
  </div>
</div>
