<div id="navbar" class="navbar navbar-expand-md">
  <button
    id="navbar-button"
    class="navbar-toggler btn btn-outline-dark"
    type="button"
    (click)="toggleNavbar()"
  >
    <img src="./assets/img/icon/menu_icon.png" />
  </button>

  <div
    class="collapse navbar-collapse"
    [ngClass]="{
      show: navbarOpen
    }"
  >
    <nav class="navbar-nav">
      <a routerLink="/about" class="nav-item btn btn-dark" ng-class="{active: $route.current.loadedTemplateUrl=='/about'}">About Me</a>
      <a routerLink="/projects" class="nav-item btn btn-dark" ng-class="{active: $route.current.loadedTemplateUrl=='/projects'}">Projects</a>
      <a routerLink="/contact" class="nav-item btn btn-dark"ng-class="{active: $route.current.loadedTemplateUrl=='/contact'}">Contact</a>
    </nav>
  </div>
</div>
