a {
  margin: 1px 2px;
}

#navbar{
  padding: 0px;
}

#navbar-button{
  min-height: 60px;
  min-width: 60px;
  margin: 4px;
  margin-left: 0px;
}

#navbar-button img{
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}

.active{
  background-color: var(--colour-secondary);
}
