<div id="navbar" class="">
<!--
  <button
    id=""
    class=" btn btn-outline-dark"
    type="button"
    (click)="toggleNavbar()"
  >
    <img src="./assets/img/icon/menu_icon.png" />
  </button>
-->

  <div
    class=""
    [ngClass]="{
      show: navbarOpen
    }"
    (window:resize)="onResize($event)"
  >
    <nav id="navbar">
      <a routerLink="/about" class="btn btn-dark" ng-class="{active: $route.current.loadedTemplateUrl=='/about'}">About Me</a>
      <a routerLink="/projects" class="btn btn-dark" ng-class="{active: $route.current.loadedTemplateUrl=='/projects'}">Projects</a>
      <a routerLink="/contact" class="btn btn-dark"ng-class="{active: $route.current.loadedTemplateUrl=='/contact'}">Contact</a>
    </nav>
  </div>
</div>
