<header id="header-wrapper" [ngClass] = "{'open' : isOpen, 'closed' : !isOpen ,'mobile-nav' : isMobile}"
       (window:resize)="onResize($event)" class="container-fluid"  [style.width] = "">
<!--<button (click)='changeHeaderStatus(!isOpen)'></button>-->
<span class="row title-header">

<span class="header-text-wrapper row col-md-12">
<h1 class="decorator-font"><a routerLink = "/">JUSTIN DONG</a></h1>
  <section class="col-md-12   description-text">
  <h2 *ngIf="isOpen">I use technical and creative skills to bring <b>meaningful solutions</b> to <b>complex problems.</b></h2>

  </section>

</span>

<span class='col-md-12 navbar-header'>
  <app-dong-router></app-dong-router>
</span>

</span>

<!--<img src="./assets/img/header.png" id="header-img" alt="header image">-->

</header>

