<div id="header-wrapper" [ngClass]='headerStatus'>
<button (click)='changeHeaderStatus(!isOpen)'></button>

<h1 class="decorator-font">some portfolio title</h1>
<section class="col-lg-3">
<h2></h2>

<!-- Justin uses both technical and design skills to bring meaningful solutions to difficult problems. -->
</section>

<app-dong-router></app-dong-router>

<!--Router goes here:
About Me
Projects search
Contact
---
Prototypes
Blog
---
Other links

Router collapses into a hamburger menu on -md-
-->

</div>
