/* You can add global styles to this file, and also import other style files */

/*Colours*/
:root {
  --colour-main: rgb(207, 73, 75);
  --colour-black: rgb(43, 45, 66);
  --colour-white: rgb(237, 242, 244);
  --colour-secondary: rgb(141, 153, 174);
  --colour-tertiary: rgb(242, 247, 247);
  --colour-accent: rgb(153, 194, 77);

  --colour-main-08: rgba(252, 231, 98, 0.8);
  --colour-black-08: rgba(0, 0, 0, 0.8);
  --colour-white-08: rgba(255, 255, 255, 0.8);
  --colour-secondary-08: rgba(86, 153, 27, 0.8);
  --colour-accent-08: rgba(255, 90, 95, 0.8);

  --colour-main-05: rgba(252, 231, 98, 0.5);
  --colour-black-05: rgba(0, 0, 0, 0.5);
  --colour-black-02: rgba(0, 0, 0, 0.5);
  --colour-white-05: rgba(255, 255, 255, 0.5);
  --colour-secondary-05: rgba(86, 153, 27, 0.5);
  --colour-accent-05: rgba(255, 90, 95, 0.5);

  --decorator-font: "retrochips", sans-serif;
  --text-font: "Roboto", sans-serif;
}

/*Fonts

font-family: 'Roboto', sans-serif'
font-family: 'Alatsi', sans-serif;

*/

@font-face {
  font-family: retrochips;
  src: url(assets/Retrochips.otf) format("opentype");
}

/*Native Tags*/

/*Classes*/
.decorator-font {
  /*font-family: "retrochips", sans-serif;(*/
  font-family: 'Bebas Neue', cursive;
  font-size: 40pt;
}

.text-font {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-shadow: 0.5px 0.5px var(--colour-black-02) !important;
  text-decoration: none;
}

a:visited {
  text-shadow: 1px 1px var(--colour-black-02) !important;
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:active {
  text-shadow: 1px 1px var(--colour-black-08) !important;
  text-decoration: none;
}


body{
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--colour-black-05);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--colour-main);
  border: 2px solid var(--colour-black);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--colour-main-08);
}

.no-scroll{
  height: 100%;
  overflow: hidden;
}
